<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<ul>
					<li><%= link_to 'Home', public_designs_photo_sharing_app_index_path %></li>
					<li><%= link_to 'About', public_designs_photo_sharing_app_about_path %></li>
					<li><%= link_to 'Contact', public_designs_photo_sharing_app_contact_path %></li>
					<li><%= link_to 'Privacy Policy', {} %></li>
				</ul>
			</div>
			<div class="col-md-6 col-xs-12">
				<p>Copyright &copy; 2017, All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>